<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--jsp 이방법이 좀 더 나을 수도 있다 -->
<ul>
    <th:block th:each="dto, status:${list}">
        <li th:class="${status.even ? 'EVEN' : 'ODD' }">AAA</li>
    </th:block>
</ul>


<ul>
    <li th:each="dto , status: ${list}">
        [[${dto.regDate}]] --- [[${#temporals.format(dto.regDate, 'yyyy/MM/dd')}]]

    </li>
</ul>

<script th:inline="javascript">

    const arr = [[${list}]]

    console.log(arr[0].sno)

</script>

</body>
</html>